@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*Verificar o que seria isso */
  font-family: "Roboto", sans-serif;
}

.lateral-menu {
  background: #000;
  color: #fff;
  width: 250px;
  height: 100vh;
  padding: 20px;

  font-size: 16px;
  font-weight: bold;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
ul {
  list-style: none;
}
.lateral-menu ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px 0;
}
.lateral-menu ul li img {
  margin-bottom: 10px;
}
.settings {
  display: flex;
  justify-content: center;
  align-items: center;
}
.settings svg {
  margin-right: 10px;
}
